<div id="<%= dom_id author_scaffold %>">
  <p>
    <strong>Firstname:</strong>
    <%= author_scaffold.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= author_scaffold.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= author_scaffold.email %>
  </p>

</div>
