<h1>Editing author scaffold</h1>

<%= render "form", author_scaffold: @author_scaffold %>

<br>

<div>
  <%= link_to "Show this author scaffold", @author_scaffold %> |
  <%= link_to "Back to author scaffolds", author_scaffolds_path %>
</div>
